force-app/main/default/flows/check_in_and_check_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_the_check_the_booked_field_of_product_record</name>
        <label>assign the booked field of product record</label>
        <locationX>966</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>RoomsProductOccupiedByOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_on_oppLine_for_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoomsProductOccupiedByOpp.Booked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfRoomProduct2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoomsProductOccupiedByOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_on_oppLine_for_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>uncheck_the_booked_field_of_product_record</name>
        <label>uncheck the booked  field of product record</label>
        <locationX>596</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>RoomsProductOccupiedByOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uncheck_the_booked_field_iteration.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoomsProductOccupiedByOpp.Booked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfRoomProduct2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoomsProductOccupiedByOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uncheck_the_booked_field_iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_the_stage_field_for_the_check_in</name>
        <label>check the stage field for the check in</label>
        <locationX>498</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_is_okay</name>
            <conditionLogic>(1 OR 2) OR  (3 AND( 4 OR  5) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checked In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Overnight_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Reserved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Under Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_opportunity_and_related_product_records</targetReference>
            </connector>
            <label>stage is okay</label>
        </rules>
    </decisions>
    <decisions>
        <name>opportunity_closed</name>
        <label>opportunity closed</label>
        <locationX>210</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>closed</name>
            <conditionLogic>1 AND   (  ( 2 AND 3 ) OR 4  )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Overnight_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>unchecking_the_rooms</targetReference>
            </connector>
            <label>closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>check-in and check-out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>check-in and check-out</label>
    <loops>
        <name>iterate_on_oppLine_for_Product</name>
        <label>iterate on oppLine for Product</label>
        <locationX>796</locationX>
        <locationY>162</locationY>
        <collectionReference>Checking_opportunity_and_related_product_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_the_check_the_booked_field_of_product_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_room_products_on_sf_database</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>uncheck_the_booked_field_iteration</name>
        <label>uncheck the booked field iteration</label>
        <locationX>474</locationX>
        <locationY>452</locationY>
        <collectionReference>unchecking_the_rooms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>uncheck_the_booked_field_of_product_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>unchecked_booked_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Checking_opportunity_and_related_product_records</name>
        <label>Checking opportunity and related product records</label>
        <locationX>666</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_on_oppLine_for_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>unchecking_the_rooms</name>
        <label>unchecking the rooms</label>
        <locationX>372</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>uncheck_the_booked_field_iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>unchecked_booked_field</name>
        <label>unchecked booked field</label>
        <locationX>477</locationX>
        <locationY>629</locationY>
        <inputReference>RoomsProductOccupiedByOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_room_products_on_sf_database</name>
        <label>update room products on sf database</label>
        <locationX>799</locationX>
        <locationY>309</locationY>
        <inputReference>ListOfRoomProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>opportunity_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Check_in_Booking</name>
            <connector>
                <targetReference>check_the_stage_field_for_the_check_in</targetReference>
            </connector>
            <label>Check in Booking</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOfRoomProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ListOfRoomProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RoomsProductOccupiedByOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RoomsProductOccupiedByOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
