force-app/main/default/flows/Contract_Termination_and_Deactivation_of_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>1018</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>get_User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_User_Deactivation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Date_CurrentlyWorking_Reason</name>
        <label>End Date,CurrentlyWorking,Reason</label>
        <locationX>416</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>getEmployee.Currently_Working__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getEmployee.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getEmployee.Contract_Termination_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temination_reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>user_Exist</name>
        <label>user Exist?</label>
        <locationX>998</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>user_does_not_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exist_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEmployee.Officer_User_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User</targetReference>
            </connector>
            <label>User Exist s</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract Termination and Deactivation of User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Termination and Deactivation of User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_User</name>
        <label>get User</label>
        <locationX>866</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEmployee.Officer_User_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmployee</name>
        <label>getEmployee</label>
        <locationX>189</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_Date_CurrentlyWorking_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee</name>
        <label>Update Employee</label>
        <locationX>611</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>succes_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>getEmployee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_User_Deactivation</name>
        <label>Updated User Deactivation</label>
        <locationX>885</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>Deactivation_Screen</targetReference>
        </connector>
        <inputReference>get_User</inputReference>
    </recordUpdates>
    <screens>
        <name>contract_termination</name>
        <label>contract termination</label>
        <locationX>186</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getEmployee</targetReference>
        </connector>
        <fields>
            <name>Temination_reason</name>
            <dataType>String</dataType>
            <fieldText>Temination reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Terminate the contract</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deactivation_Screen</name>
        <label>Deactivation Screen</label>
        <locationX>681</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successsMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(23, 215, 42);&quot;&gt;{!get_User.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;is deactivated !!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>608</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>contract_termination</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;SF could not terminate the contract!!!!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reason:{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>succes_screen</name>
        <label>succes screen</label>
        <locationX>752</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;The contract with  &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(202, 19, 202);&quot;&gt;{!getEmployee.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt; is terminated!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>be actıvate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>A user is not assigned to XXXXX</description>
        <name>user_does_not_exist</name>
        <label>user does not exist</label>
        <locationX>1004</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noUserMessage</name>
            <fieldText>&lt;p&gt;a user is not assigned to  &lt;strong style=&quot;color: rgb(42, 28, 231);&quot;&gt;{!getEmployee.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>545</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>contract_termination</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
