force-app/main/default/flows/Opportunity_Payment_Done_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Payment_Done</name>
        <label>Is Payment Done</label>
        <locationX>117</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Payment_Done__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Payment_Done__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_payment_done_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Payment Done Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Payment Done Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_opportunity_payment_done_field</name>
        <label>update opportunity payment done field</label>
        <locationX>371</locationX>
        <locationY>410</locationY>
        <inputAssignments>
            <field>payment_done__c</field>
            <value>
                <elementReference>$Record.Payment_Done__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>332</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Payment_Done</targetReference>
        </connector>
        <object>Payment_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
