force-app/main/default/flows/wellcomeGuest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_guest_booked</name>
        <label>New guest booked</label>
        <locationX>337</locationX>
        <locationY>415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>welcoming_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyOfNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>There is a new booking!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>welcoming_email</name>
        <label>welcoming email</label>
        <locationX>434</locationX>
        <locationY>472</locationY>
        <actionName>Guest__c.New_guest_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Guest__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Guest__c.New_guest_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Idassignment</name>
        <label>Idassignment</label>
        <locationX>215</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Reception_Desk_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_guest_booked</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>wellcomeGuest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>wellcomeGuest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>notificationId</name>
        <label>notificationId</label>
        <locationX>82</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Idassignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_guest_Hurray</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>238</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>notificationId</targetReference>
        </connector>
        <filterFormula>{!$Record.Opportunity__r.RecordType.DeveloperName}=&apos;individual_guest&apos;</filterFormula>
        <object>Opp_Guest_Intermediate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyOfNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); color: rgb(29, 28, 29); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;Hi! &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Opportunity__r.Reception_Desk_Officer__r.Name}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); color: rgb(29, 28, 29); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;A new reservation for Mr/Mrs {!$Record}{!$Record.Guest__r.Name} has been made. FYI&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
